head
	link(rel="stylesheet", href="css/style.css")
body
	script(src="three.js/build/three.min.js")
	script(src="three.js/examples/js/controls/OrbitControls.js")
	script(src="three.js/examples/js/controls/FirstPersonControls.js")
	script(src="three.js/examples/js/controls/FlyControls.js")
	script(src="three.js/examples/js/renderers/Projector.js")
	script(src="three.js/examples/js/libs/dat.gui.min.js")
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	script(src="poisson-disc.js")
	script(src="script-min.js") 