head
	link(rel="stylesheet", href="css/style.css")
body
	script(src="js/script-min.js")
	.ui
		p.controls  move with ⍇⍐⍗⍈ / click to toggle
	.wrapper
		.inner
			.centred 
				h1.title the shape of death to come
				p.links
					a(href="https://www.evernote.com/l/AFdxXrif_3FOh4hXD2aQzZLh4r0TSk9H2EU", target="_blank") text
					span /
					a.enter(href="#") enter
			.geocities
	.curtain
	canvas.3d