head
	link(rel="stylesheet", href="css/style.css")
body
	script(src="js/three.min.js")
	script(src="js/three.orbitcontrols.js")
	script(src="js/three.firstpersoncontrols.js")
	script(src="js/three.flycontrols.js")
	script(src="js/three.projector.js")
	script(src="js/dat.gui.min.js")
	script(src="tween.min.js")
	script(src="underscore.min.js")
	script(src="poisson-disc.js")
	script(src="js/jquery.min.js")
	script(src="js/graves.js") 
	script(src="script-min.js") 
	script(src="js/pixelsort.js") 
	.wrapper
		.geocities