* 
	padding: 0
	margin: 0

body
	//height: 4000px
	overflow: hidden

.progressBar
	position: fixed
	top: 10px
	left: 10px 
	height: 10px
	background-color: red

.wrapper
	//display: none
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	background-color: rgba(255,255,255,0.95)
	mix-blend-mode: multiply
	text-align: center
	.geocities
		margin: 0 auto